{% extends 'base.html' %} {% block content %} {% if error %} {{ error }}
<br/> {% endif %}
<h1>Sign Up</h1>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %} User Name:
    <br/>
    <input type="text" name="username">
    <br/> Password:
    <br/>
    <input type="password" name="password">
    <br/> Confirm Password:

    <br/>
    <br/>

    <input type="submit" value="Log In" class="btn btn-primary">
    <p> No Account! Sign Up <a href="{% url 'singup' %}">singup </a></p>
</form>
{% endblock %}